<nav class="navbar navbar-expand-lg ">
  <a class="navbar-brand" href="/">ShopClan</a>
  {{#if user}}
  <ul class="navbar-nav ml-auto">
    <li class="nav-item active">
      <div class="nav-link" href="/user{{ user._id }}" >{{user.name}}</div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/logout">Logout</a>
    </li>
  </ul>
  {{/if}}
</nav>