<nav class="navbar">
  <a class="navbar-brand" href="/">ShopClan</a>
  <ul class="nav navbar-nav navbar-right">
    {{#if user }}
      <li><a href="">{{ user.name  }}</a></li>
      <li><a href="/logout">Log Out</a></li>
    {{/if}}
  </ul>
</nav>