body {
    color: whitesmoke;
    background-image: url("12345.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    /*background: #c0c0aa;
    background: -webkit-linear-gradient(to right, #1cefff, #c0c0aa);
    background: linear-gradient(to right, #1cefff, #c0c0aa);*/

}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
.navbar-brand {
    color: whitesmoke;
    margin-left: 3em;
    font-size: 2em;
}
.navbar {
    border-bottom: 1px solid whitesmoke;
}
.container-fluid {
    margin: auto;
    margin-top: 2em;
}
.navbar-nav {
    margin-right: 3em;
}
.nav-link {
    font-size: 1.4em;
}
a.nav-link {
    color: black;
}
a.nav-link:hover {
    color: #181818;
}
h1 {
    color: black;
}

p {
    color: black;
    font-size: 1.4em;
}

h1 {
    font-weight: 500px;
}

h4 {
    color: black;
    font-weight: bolder;
}

h2 {
    font-family: 'Oxygen', sans-serif;
    color: whitesmoke;
}

ul {
    margin-left: 16em;
}

li {
    margin-left: 2em;
}

a {
    font-family: 'Oxygen', sans-serif;
}