body {
    padding-top: 50px;
    background: black;
    color: whitesmoke;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

nav a{
    color:whitesmoke;
    font-size: 1.5em;
}
