body {
    /* padding-top: 50px; */
    background: black;
    color: whitesmoke;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
.navbar-brand {
    color: whitesmoke;
    margin-left: 3em;
    font-size: 2em;
}
.navbar {
    border-bottom: 1px solid red;
}
.container-fluid {
    margin: auto;
    margin-top: 2em;
}