<div class="starter-template">
            <h1>S H A I T A N</h1>
            <p class="lead">The Social Hub Created By Tanay And Akshay
                <br> This Is The best Social App That Was Ever Created :-)
                <br> Help and Support Our Small Project To Expand It
            </p>
        </div>

        <div class="col-md-8">
            <a class="btn btn-primary btn-lg" href="/signup">SIGNUP</a>
            <a class="btn btn-primary btn-lg" href="/login">LOGIN</a>
        </div>